html{
  scroll-behavior: smooth;
}
:root{
  --primary-h1 : #1E3887;
  --h3 : #1D1A05;
  --background: #DAFFED;
  --button : #2B9720;
  --script : #81726A;
}
.root-dark{
  --primary-h1 : #81726A;
  --h3: #1E3887  ;
  --background: #1D1A05;
  --script: #DAFFED;
  --button: #2B9720;
}
h5{
  font-size: 20px;
  color: var(--button);
  font-family: 'Fuzzy Bubbles', cursive;
}
h3{
  font-size: 26px;
  color: var(--h3);
  font-family: 'Fuzzy Bubbles', cursive;
  cursor: pointer;
}
h1{
  font-size: 36px;
  color: var(--primary-h1);
  font-family: 'Fuzzy Bubbles', cursive;
  cursor: pointer;
}
p{
  font-size: 22px;
  margin: 2px;
  color: var(--script);
  font-family: 'Corinthia', cursive;
}

.oneTab{
  margin-left: 15px;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInRight;
  
}
@keyframes slideInRight{
  0%{transform: translateX(100%)}
  100%{transform: translateX(0);}
}
.twoTab{
  margin-left: 30px;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInLeft;
}
@keyframes slideInLeft{
  0%{transform: translateX(100%)}
  100%{transform: translateX(0);}
}
.threTab{
  margin-left: 45px;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInRight;
}
@keyframes slideInRight{
	0% {transform: translateX(-100%);}
  100% {transform: translateX(0);}
}
.fourTab{
  margin-left:60px;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInLeft;
}
@keyframes slideInLeft{
	0% {transform: translateX(-100%);}
  100% {transform: translateX(0);}
}
.fiveTab{
  margin-left:75px;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInRight;
}
@keyframes slideInRight{
	0% {transform: translateX(-100%);}
  100% {transform: translateX(0);}
}
.sixTab{
  margin-left:90px;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInLeft;
}
@keyframes slideInLeft{
	0% {transform: translateX(-100%);}
  100% {transform: translateX(0);}
}
.sevenTab{
  margin-left:105px;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInRight;
}
@keyframes slideInRight{
	0% {transform: translateX(-100%);}
  100% {transform: translateX(0);}
}
.eightTab{
  margin-left:120px;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInLeft;
}
@keyframes slideInLeft{
	0% {transform: translateX(-100%);}
  100% {transform: translateX(0);}
}
.nineTab{
  margin-left:135px;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInRight;
}
@keyframes slideInRight{
	0% {transform: translateX(-100%);}
  100% {transform: translateX(0);}
}
body{
  background-color: var(--background);
  margin: 0px;
  margin-top: 140px;
}
.certificate-img{
  display: flex;
}
.certificate-img img{
  width: 50%;
}
.bold{
  font-family: 'Corinthia', cursive;
  color: var(--script);
}
.contact{
  padding-right: 30px;
  font-size: 18px;
}
.bearShowSskills{
  display: none;
}
#webSources{
  display: none;
}
nav{
  width: 100%;
}
#mobileNav{
  background-color: var(--primary-h1);
  z-index: 1;
  display: flex;
  flex-direction: row ;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: fixed;
  top: 0px;
  width: 100%;
  
}
nav img{
  width: 10%;
}
.mode, .sound{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
}
#checkbox{
  width: 10px;
}
.bar1, .bar2, .bar3{
  width: 30px;
  background-color: var(--h3);
  margin: 6px 0;
  transition: 0.4s;
  padding: 2px;
  border-radius: 20px;
}
#burger-button{
  font-size: 16px;
  padding: 5px;
  margin-right: 20px;
}
.change .bar1{
  -webkit-transform: rotate(-45deg) translate(10px, 8px);
  transform: rotate(-45deg) translate(-6px,6px);
}
.change .bar2{ opacity: 0;}
.change .bar3{
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.dropBurger{
  padding: 10px;
  font-size: 16px;
  border: none;
}
.dropDownContent{
  display: none;
  min-width: 100%;
  overflow: hidden;
  box-shadow: 0px 33px 44px 0px rgba(0, 0,0,0.2);
  z-index: 1;
  background-color: var(--background);
  text-align: center;
}
.dropDownContent a{
  color: var(--primary-h1);
  padding: 26px;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  font-size: 36px;
}
#myDropDown{
  position: fixed;
  right: 0;
  top: 80px;
}
.show{display: block;}

/*  Here start main for mobile  */
.home{
  display: flex;
  flex-direction: column; 
}
.skillsRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
}
.show-skill{
  display: flex;
  flex-direction: column;
  display: none;
  margin: 10px;
}
.show-skill h5{
  text-align: center;
}
.hide{
  display: none;
}
.hide1{
  display: none;
}
.rate{
 background-color: var(--button);
 width: 20px;
 height: 20px;
 border-radius: 25px;
}
.unRate{
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  border: 1px solid var(--h3);
}
.myButton {
	box-shadow: 3px 4px 0px 0px var(--primary-h1);
	background:linear-gradient(to bottom, var(--primary-h1) 5%, #365dd3 100%);
	background-color:var(--primary-h1);
	border-radius:18px;
	border:1px solid #0bbb37;
	display:inline-block;
	cursor:pointer;
	color:var(--button);
  font-family: 'Fuzzy Bubbles', cursive;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2086b6;
  text-align: center;
  width: 30%;
  position: relative;
  left: 20%;
}
.myButton:hover {
	background:linear-gradient(to bottom, #11e470 5%, #035030 100%);
	background-color:#0e33d4;
}
.images{
 display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.images img{
  width: 35%;
  margin: auto;
  
}

/* Here start Contact form! i am going to use https://codepen.io/wwwebneko/pen/RRQKzZ this form */
.form-style-4{
	width: 80%;
	font-size: 16px;
	background: #495C70;
	padding: 30px 30px 15px 30px;
	border: 5px solid #53687E;
  margin: auto;
}
.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 textarea,
.form-style-4 label
{
	font-family: 'Fuzzy Bubbles', cursive;
	font-size: 16px;
	color: var(--background);

}
.form-style-4 label {
	display:block;
	margin-bottom: 10px;
}
.form-style-4 label > span{
	float: left;
	width: 150px;
}
.form-style-4 input[type=text],
.form-style-4 input[type=email] 
{
	background: transparent;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	width: 275px;
	outline: none;
	padding: 0px 0px 0px 0px;
	font-style: italic;
}
.form-style-4 textarea{
	font-style: italic;
	padding: 0px 0px 0px 0px;
	background: transparent;
	outline: none;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	width: 275px;
	overflow: hidden;
	resize:none;
	height:20px;
}

.form-style-4 textarea:focus, 
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=email] :focus
{
	border-bottom: 1px dashed #D9FFA9;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button]{
	background: #576E86;
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	color: #A8BACE;
}
.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover{
background: #394D61;
}
.containerForText{
  display: none;
}
@media(min-width:600px){
  #mobileNav{
    display: none;
  }
  .lionAboutMe{
    display: none;
  }
  #mobileFirst{
  display: none;
  }
  #webSources{
    display: block;
  }
  .containerForText{
    display: block;
  }
  body{
      background-image:url(./img/pirin.jpg);
      background-size: 100vw 100vh;
      background-repeat: no-repeat;
  }
  #bearID img{
   width: 350px;
   position: fixed;
   right: 0px;
   bottom: 110px;
  }
  .bearShowSskills{
    display: none;
    width: 70%;
    height: 500px;
    background-color: var(--background);
   z-index: 10;
   margin-left: 15px;
  }
  #LION img{
    width: 100px;
  }
  .allSkills{
    overflow-y: scroll;
    max-height: 500px;
  }
  .lionAboutMe{
    display: none;
    width: 70%;
    height: 500px;
    background-color: var(--background);
    z-index: 10;
    margin-left: 15px;
    overflow-y: scroll;
    max-height: 500px;
  }
  .lion{
    position: fixed;
    left: 46%;
    top: 48%;
    width: 3%;
  }
  .openLion{
    position: fixed;
    right: 50px;
    bottom: 120px;
    
  }
  .lion img{
    width: 100%;
  }
  .deerContactMe{
    display: none;
    width: 70%;
    height: 500px;
    background-color: var(--background);
    z-index: 10;
    margin-left: 15px;
    overflow-y: scroll;
    max-height: 500px;
  }
  .activeDeer{
    position: fixed;
    right: 20px;
    bottom: 120px;
  }
  .deer{
    position: absolute;
    bottom: 8%;
    left: 10%;
  }
  deer img{
    width: 100%;
  }
  .eagle{
      position: absolute;
      width: 5%;
  }
  .eagle img{
      width: 100%;
  }
 .activeEagle{
   position: fixed;
   right: 0px;
   top: 0px;
 }
 .showCertificateOnWeb{
  display: none;
  width: 70%;
  height: 500px;
  background-color: var(--background);
  z-index: 10;
  margin-left: 15px;
  overflow-y: scroll;
  max-height: 500px;
 }
}